@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
   font-family: 'Roboto', sans-serif;
}

body {

   width: 100vw;
   height: 100vh;
   overflow: hidden;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: rgb(27, 26, 26);
   flex-direction: column;
   color:white;
   font-size: 8pt;
}
p{
   color: white;
   font-size: 8pt;
   text-align: left;
}
section{
   display: flex;
   justify-content: center;
   flex-direction: column;
   text-align: left;
}

img {
   width: 50px;
   height: 50px;
   border-radius: 50%;
   border: 1px solid black;
}

img:hover {
   scale: 105%;
   border: 0.1px solid aqua;
   transition: 0.2s
}

form {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   min-width: 360px;
   height: 45%;
   border-radius: 20px;

   background: rgba(78, 75, 75, 0.2);
   border-radius: 16px;
   box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
   backdrop-filter: blur(5px);
   -webkit-backdrop-filter: blur(5px);
   border: 1px solid rgba(85, 80, 80, 0.3);
}

input[type="text"] {
   border-radius: 5px;
   height: 40px;
   width: 80%;
   padding: 10px;
   margin-top: 10px;
   border: 1px solid black;
}

input[type="file"] {
   display: none;
}

label {
   height: 40px;
   width: 80%;
   padding: 10px;
   margin-top: 10px;
   border: 1px solid black;
   cursor: pointer;
   border-radius: 10px;
   background-color: azure;
   text-align: center;
   font-weight: 500;
   font-size: 10pt;
   color: black;
}
input[type="submit"]{
height: 40px;
   width: 80%;
  color: white;              
  padding: 10px;        
  border: none;              
  border-radius: 10px;        
  cursor: pointer;           
  font-size: 10pt;  
  font-weight: 600;         
  transition: background 0.3s ease; 
  margin-top: 10px;
  background-color: rgb(61, 118, 57);
}

input[type="button"]{
   height: 40px;
   width: 80%;
   padding: 10px;
   margin-top: 10px;
   border: 1px solid black;
   cursor: pointer;
   border-radius: 10px;
   background-color: rgb(171, 177, 177);
   text-align: center;
   font-weight: 400;
   font-size: 8pt;
   color: black;
}

div{
   display: flex;
   align-items: center;
   padding: 50px;
}